.Popup {
    position: relative;
    text-align: center;
    width: 100%;
}
.formPopup {
    overflow: scroll;
    display: none;
    position: fixed;
    left: 45%;
    top: 20%;
    opacity: 1;
    max-height: 600px;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}
.formContainer {
    width: 400px;
    padding: 20px;
    background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password],
.formContainer input[type=date]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: wave;
    background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}
.formContainer .cancel {
    background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}